extends includes/layout
block content
  - const getCompaniesApiDetails = ' Get companies\n GET /crm/v3/objects/companies\n crm.companies.basicApi.getPage';
  - const searchCompaniesApiDetails = ' Search for companies\n POST /crm/v3/objects/companies/search\n crm.companies.searchApi.doSearch';

  section(class='container')
    h3 Companies
    pre #{getCompaniesApiDetails}
    form(action='/companies')
      fieldset
        input(type='text' name='search' placeholder='Search by domain..' id='search-companies-by-domain' value=search)

    pre #{searchCompaniesApiDetails}
    table
      thead
        tr
          th ID
          th Name
          th Domain
          th Actions
      tbody
        each company in companies
          tr
            td
              a(class='navigation-link' href=`/companies/${company.id}`)= company.id
            td= company.name
            td= company.domain
            td
              a(href=`/companies/delete/${company.id}`)
                input(class='button-primary' type='button' value='Delete' id='delete-company-button')
    a(href='/companies/new')
     input(class='button-primary' type='button' value='New Company' id='create-new-company-button')
