extends includes/layout
block content
  - const companiesApiDetails = ' Get a company record by its id\n GET /crm/v3/objects/:objectType/:objectId\n crm.objects.basicApi.getById';
  - const companyPropertiesApiDetails = ' Get all Company Properties\n GET /crm/v3/properties/:objectType/\n crm.properties.coreApi.getAll';
  - const companyApiSaveDetails = ' Update a Company\n PATCH /crm/v3/objects/:objectType/:objectId/\n crm.objects.basicApi.update';
  - const companyApiCreateDetails = ' Create a Company\n POST /crm/v3/objects/:objectType/\n crm.objects.basicApi.create';
  - const companyAssociatedContactsApiDetails = ' Get a Company associated Contacts ids\n GET /crm/v3/objects/:objectType/:objectId/associations/:associatedObjectType\n crm.objects.associationsApi.getAssociations';
  - const readContactsByIdsApiDetails = ' Read a list of contacts objects given a collection of IDs\n POST /crm/v3/objects/:objectType/batch/read\n crm.objects.batchApi.readBatch';
  section(class='container')
    div(class='row')
      div(class='column column-50')
        h3 Company Properties
        pre #{`${companiesApiDetails}\n\n${companyPropertiesApiDetails}`}
        form(method='post' action=`/companies/${companyId}`)
          fieldset
          each property in properties
            label(for=property.name) #{property.label}
            input(name=property.name id=property.name type='text' value=property.value)

          pre #{`${companyApiCreateDetails}\n\n${companyApiSaveDetails}`}
          input(class='button-primary' type='submit' value='Save')

      -if (contacts)
        div(class='column column-50')
          h3 Contacts
          pre #{companyAssociatedContactsApiDetails}
          pre #{readContactsByIdsApiDetails}
          table
            thead
              tr
                th ID
                th Name
            tbody
              each contact in contacts
                tr
                  td #{contact.id}
                  td #{contact.name}

          a(href=`/companies/${companyId}/contacts`)
            input(class='button-primary' type='button' value='Manage Contacts')
