extends includes/layout
block content
  -const searchDetails = ' Search for contacts\n POST /crm/v3/objects/contacts/search\n crm.contacts.searchApi.doSearch'
  -const getContacts = ' Get contacts\n GET /crm/v3/objects/contacts\n crm.contacts.basicApi.getPage'
  -const createCRMAssociateAPIDetails = ' Create an associations between company and contacts\n PUT /crm/v3/associations/:fromObjectType/:toObjectType/batch/create\n crm.associations.batchApi.create'
  -const deleteCRMAssociateAPIDetails = ' Remove an associations between company and contacts\n DELETE /crm/v3/associations/:fromObjectType/:toObjectType/batch/archive\n crm.associations.batchApi.archive'
  .container
    h3 Contacts
    pre #{getContacts}
    form
      fieldset
        input(type='text' name='search' placeholder='Search..' id='search' value=search)
        pre #{searchDetails}

    form(method='post')
      fieldset
        table
          thead
            tr
              th ID
              th Name
              th Selected
          tbody
          each contact in contacts
            tr
              td #{contact.id}
              td #{contact.name}
              td
                input(type='checkbox' name=`contactsIds[${contact.id}]` value=`${contact.id}`)

        .row
          .column
            pre #{createCRMAssociateAPIDetails}
            input(type='submit' name='action' value='Add selected to company')
          .column-offset-50
            pre #{deleteCRMAssociateAPIDetails}
            input(type='submit' name='action' value='Delete selected from Company')
