extends includes/layout
block content
  - const getContactsApiDetails = ' Get contacts\n GET /crm/v3/objects/contacts\n crm.contacts.basicApi.getPage';
  - const searchContactsApiDetails = ' Search for contacts\n POST /crm/v3/objects/contacts/search\n crm.contacts.searchApi.doSearch';
  .container
    h3 Contacts
    h4 Sample uses algorithm to get all contacts, however page shows only first 100 objects to prevent rendering issues
    pre #{getContactsApiDetails}
    pre #{searchContactsApiDetails}
    table
      thead
        tr
          th ID
          th Name
          th Company
          th Actions
      tbody
        form(action='/contacts')
          fieldset
            input(type='text' name='search' placeholder='Search..' id='search' value=query)

        each contact in contacts
          tr
            td
              a(href=`/contacts/${contact.id}`) #{contact.id}
            td #{contact.name}
            td #{contact.companyName}
            td
              a(href=`/contacts/delete/${contact.id}`)
                input(class='button-primary' type='button' value='Delete')
    .row
      a(href='/contacts/new')
        input(class='button-primary' type='button' value='New Contact' id='create-new-contact-button')
      span &nbsp;
      a(href='/export')
        input(class='button-primary' type='button' value='Export To CSV')
