extends includes/layout
block content
  .container
    h3 Imports
    pre.
      Retrieving import records
      GET /crm/v3/imports
      crm.imports.coreApi.getPage
    table
      thead
        tr
          th ID
          th Name
          th Status
          th Created At
      tbody
        each importDetails in importsDetails
          tr
            td
              a(href=`/imports/${importDetails.id}`) #{importDetails.id}
            td #{importDetails.importRequestJson.importName}
            td #{importDetails.state}
            td #{new Date(importDetails.createdAt).toISOString()}
    .row
      a(href='/imports/new')
        input(class='button-primary' type='button' value='New Import')
